<!DOCTYPE html>
<html lang="en">
    <style>
        #neubar {
            background: #fae8d2;
            box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
        }
        
        .nav-item .active {
            border-radius: 6px;
            background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
            box-shadow:  4px 4px 8px #ddc1a0,
                        -4px -4px 8px #f7e5cc;
        }
        #neubar .dropdown-menu a:hover {
            color: #454545
        }
        #neubar .nav-item {
            margin : auto 4px;
        }
        #neubar a {
            padding-left:12px;
            padding-right:12px;
        }
        #neubar .dropdown-menu {
            background : #545454
        }
        a.navbar-brand {
            color: #454545
        }
    </style>
    
<head>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light" id="neubar">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="https://w7.pngwing.com/pngs/338/941/png-transparent-buzz-lightyear-youtube-sheriff-woody-logo-pixar-toy-story-3-child-text-logo.png" height="60" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
              
                </form>
            </ul>
        </div>
    </div>
    
</nav>
 {{{body}}}

    
    </div>
</body>
</html>